!!!
%html
  %head
    %meta{:content => "8E2A9BDC2354D4895D58A71F5DC62033", :name => "msvalidate.01"}/
    %title OstryaLabs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta{:content => "user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi", :name => "viewport"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "initial-scale=2.3, user-scalable=no", :name => "viewport"}/
  %body
    - flash.each do |key, value|
      = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
    = yield
