!!!
%html
  %head
    %title OstryaLabs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    - flash.each do |key, value|
      = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
    = yield
